/* temprory css for a temp page */

*{
    margin:0;
    padding: 0;

}
.box{
    background-image: url(./resources/images/Box2-image.jpg);
    width:100vw;
    height:100vh;
    background-size: cover;
    background-origin: border-box;
    border: 2px solid red;
}